@using MyWebApp.WebUI.HtmlHelpers

<div class="list-group table-of-contents">
    @Html.ActionLink("Mailbox", "index", "mailbox", null, new { @class = "list-group-item" })
    @Html.ActionLink("Search", "index", "search", null, new { @class = "list-group-item" })


    @*<a class="list-group-item" href="#mailbox">Mailbox</a>
        <a class="list-group-item" href="#search">Search</a>
        <a class="list-group-item" href="#friends">Friends</a>
        <a class="list-group-item" href="#account">My Account</a>
        <a class="list-group-item" href="#events">Events</a>
        <a class="list-group-item" href="#logout">Logout</a>*@
</div>
