
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Client Profile</h3>
    </div>
    <div class="panel-body">
        Client Data
    </div>
</div>
