@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello There</h1>
    <p class="lead">Find someone when YOU want, at your pace, on your budget.</p>
    <p>No contracts. No monthly fees.</p>
</div>
    
<div class="row">
    <div class="col-md-4">  
        <h2>Join</h2>
        <p>
            Membership is free and there are no monthly fees.  You pay for what you use.
        </p>
        <p><a class="btn btn-default" href="join">Join Now</a></p>
    </div>
    <div class="col-md-4">
        <h2>Post</h2>
        <p>Create your perfect profile and post all the profile content you want.</p>
        <p><a class="btn btn-default" href="join">Join Now</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find</h2>
        <p>Find the right match for you by connecting on likes, dislikes, fantasies and more.</p>
        <p><a class="btn btn-default" href="join">Join Now</a></p>
    </div>
</div> 